// heading

$h-val: 2rem;

// this is a for loop, this loop has a value called $i it cycle form $i = 1 to 7

@for $i from 1 to 7 {
  // if the i value = 1
  @if $i == 1 {
    .h#{$i} {
      font-size: 2.5rem;
    }
    h#{$i} {
      font-size: 2.5rem;
    }
  }
  //if the i value = 2
  @else if $i == 2 {
    .h#{$i} {
      font-size: $h-val;
    }
    h#{$i} {
      font-size: $h-val;
    }
  }
  // if the those two statements above are false the code in the next line will start
  @else {
    .h#{$i} {
      font-size: $h-val - 0.25rem;
    }
    h#{$i} {
      font-size: $h-val - 0.25rem;
    }
    //the h-value is subtracting by 0.25rem
    $h-val: $h-val - 0.25rem;
  }
}

.mark,
mark {
  padding: 0.1875em;
  background-color: var(--hui-yellow-400);
}

.small,
small {
  font-size: 0.875em;
}

@for $i from 1 to 7 {
  .display-#{$i} {
    font-weight: $display-font-weight;
    font-size: $display-font-size;
    line-height: $display-line-height;
  }
  $display-font-size: $display-font-size - 0.5rem;
}

.lead {
  font-size: 1.25rem;
  font-weight: 300;
  // zinc 400
  color: #a1a1aa;
}

$topography: (
  "text-decoration": (
    "prefix": "text-decoration",
    "values": (
      "underline": underline,
      "line-through": line-through,
    ),
  ),
);

.initialism {
  font-size: 0.875em;
  text-transform: uppercase;
}

.initialism::after {
  display: block;
  clear: both;
  content: "";
}

%blockquote {
  margin-bottom: 1rem;
  font-size: 1.25rem;
}

blockquote,
.blockquote {
  @extend %blockquote;
}

figure {
  blockquote,
  .blockquote {
    @extend %blockquote;
  }
  figcaption.blockquote-footer {
    margin-top: -1rem;
    margin-bottom: 1rem;
    font-size: 0.875em;
    color: var(--hui-stone-400);
  }
  figcaption.blockquote-footer::before {
    content: "- ";
  }
  cite {
    font-style: italic;
  }
}

.list-inline {
  padding-left: 0;
  list-style: none;
  .list-inline-item:not(:last-child) {
    margin-right: 0.5rem;
  }
  .list-inline-item {
    display: inline-block;
  }
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  cursor: help;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
}

@each $property, $map in $topography {
  $prefix: map-get($map, "prefix");
  $values: map-get($map, "values");

  @each $k, $v in $values {
    @if ($k == "default") {
      .#{$prefix} {
        #{$property}: $v;
      }
    } @else {
      .#{$prefix}-#{$k} {
        #{$property}: $v;
      }
    }
  }
}
