@use "sass:math";

$utilities: (
  "padding": (
    "prefix": "p",
    "values": (
      "0": 0,
      "1": var(--#{$prefix}-base-padding),
      "2": calc(var(--#{$prefix}-base-padding) * 2),
      "3": calc(var(--#{$prefix}-base-padding) * 4),
      "4": calc(var(--#{$prefix}-base-padding) * 6),
      "5": calc(var(--#{$prefix}-base-padding) * 8),
      "6": calc(var(--#{$prefix}-base-padding) * 10),
      "7": calc(var(--#{$prefix}-base-padding) * 12),
      "8": calc(var(--#{$prefix}-base-padding) * 14),
      "9": calc(var(--#{$prefix}-base-padding) * 16),
      "10": calc(var(--#{$prefix}-base-padding) * 18),
      "11": calc(var(--#{$prefix}-base-padding) * 20),
      "12": calc(var(--#{$prefix}-base-padding) * 22),
    ),
  ),
  "padding-left": (
    "prefix": "pl",
    "values": (
      "0": 0,
      "1": var(--#{$prefix}-base-padding),
      "2": calc(var(--#{$prefix}-base-padding) * 2),
      "3": calc(var(--#{$prefix}-base-padding) * 4),
      "4": calc(var(--#{$prefix}-base-padding) * 6),
      "5": calc(var(--#{$prefix}-base-padding) * 8),
      "6": calc(var(--#{$prefix}-base-padding) * 10),
      "7": calc(var(--#{$prefix}-base-padding) * 12),
      "8": calc(var(--#{$prefix}-base-padding) * 14),
      "9": calc(var(--#{$prefix}-base-padding) * 16),
      "10": calc(var(--#{$prefix}-base-padding) * 18),
      "11": calc(var(--#{$prefix}-base-padding) * 20),
      "12": calc(var(--#{$prefix}-base-padding) * 22),
    ),
  ),
  "padding-right": (
    "prefix": "pr",
    "values": (
      "0": 0,
      "1": var(--#{$prefix}-base-padding),
      "2": calc(var(--#{$prefix}-base-padding) * 2),
      "3": calc(var(--#{$prefix}-base-padding) * 4),
      "4": calc(var(--#{$prefix}-base-padding) * 6),
      "5": calc(var(--#{$prefix}-base-padding) * 8),
      "6": calc(var(--#{$prefix}-base-padding) * 10),
      "7": calc(var(--#{$prefix}-base-padding) * 12),
      "8": calc(var(--#{$prefix}-base-padding) * 14),
      "9": calc(var(--#{$prefix}-base-padding) * 16),
      "10": calc(var(--#{$prefix}-base-padding) * 18),
      "11": calc(var(--#{$prefix}-base-padding) * 20),
      "12": calc(var(--#{$prefix}-base-padding) * 22),
    ),
  ),
  "padding-top": (
    "prefix": "pt",
    "values": (
      "0": 0,
      "1": var(--#{$prefix}-base-padding),
      "2": calc(var(--#{$prefix}-base-padding) * 2),
      "3": calc(var(--#{$prefix}-base-padding) * 4),
      "4": calc(var(--#{$prefix}-base-padding) * 6),
      "5": calc(var(--#{$prefix}-base-padding) * 8),
      "6": calc(var(--#{$prefix}-base-padding) * 10),
      "7": calc(var(--#{$prefix}-base-padding) * 12),
      "8": calc(var(--#{$prefix}-base-padding) * 14),
      "9": calc(var(--#{$prefix}-base-padding) * 16),
      "10": calc(var(--#{$prefix}-base-padding) * 18),
      "11": calc(var(--#{$prefix}-base-padding) * 20),
      "12": calc(var(--#{$prefix}-base-padding) * 22),
    ),
  ),
  "padding-bottom": (
    "prefix": "pb",
    "values": (
      "0": 0,
      "1": var(--#{$prefix}-base-padding),
      "2": calc(var(--#{$prefix}-base-padding) * 2),
      "3": calc(var(--#{$prefix}-base-padding) * 4),
      "4": calc(var(--#{$prefix}-base-padding) * 6),
      "5": calc(var(--#{$prefix}-base-padding) * 8),
      "6": calc(var(--#{$prefix}-base-padding) * 10),
      "7": calc(var(--#{$prefix}-base-padding) * 12),
      "8": calc(var(--#{$prefix}-base-padding) * 14),
      "9": calc(var(--#{$prefix}-base-padding) * 16),
      "10": calc(var(--#{$prefix}-base-padding) * 18),
      "11": calc(var(--#{$prefix}-base-padding) * 20),
      "12": calc(var(--#{$prefix}-base-padding) * 22),
    ),
  ),
  "margin": (
    "prefix": "m",
    "values": (
      "0": 0,
      "1": var(--#{$prefix}-base-margin),
      "2": calc(var(--#{$prefix}-base-margin) * 2),
      "3": calc(var(--#{$prefix}-base-margin) * 4),
      "4": calc(var(--#{$prefix}-base-margin) * 6),
      "5": calc(var(--#{$prefix}-base-margin) * 8),
      "6": calc(var(--#{$prefix}-base-margin) * 10),
      "7": calc(var(--#{$prefix}-base-margin) * 12),
      "8": calc(var(--#{$prefix}-base-margin) * 14),
      "9": calc(var(--#{$prefix}-base-margin) * 16),
      "10": calc(var(--#{$prefix}-base-margin) * 18),
      "11": calc(var(--#{$prefix}-base-margin) * 20),
      "12": calc(var(--#{$prefix}-base-margin) * 22),
    ),
  ),
  "margin-left": (
    "prefix": "ml",
    "values": (
      "0": 0,
      "1": var(--#{$prefix}-base-margin),
      "2": calc(var(--#{$prefix}-base-margin) * 2),
      "3": calc(var(--#{$prefix}-base-margin) * 4),
      "4": calc(var(--#{$prefix}-base-margin) * 6),
      "5": calc(var(--#{$prefix}-base-margin) * 8),
      "6": calc(var(--#{$prefix}-base-margin) * 10),
      "7": calc(var(--#{$prefix}-base-margin) * 12),
      "8": calc(var(--#{$prefix}-base-margin) * 14),
      "9": calc(var(--#{$prefix}-base-margin) * 16),
      "10": calc(var(--#{$prefix}-base-margin) * 18),
      "11": calc(var(--#{$prefix}-base-margin) * 20),
      "12": calc(var(--#{$prefix}-base-margin) * 22),
    ),
  ),
  "margin-right": (
    "prefix": "mr",
    "values": (
      "0": 0,
      "1": var(--#{$prefix}-base-margin),
      "2": calc(var(--#{$prefix}-base-margin) * 2),
      "3": calc(var(--#{$prefix}-base-margin) * 4),
      "4": calc(var(--#{$prefix}-base-margin) * 6),
      "5": calc(var(--#{$prefix}-base-margin) * 8),
      "6": calc(var(--#{$prefix}-base-margin) * 10),
      "7": calc(var(--#{$prefix}-base-margin) * 12),
      "8": calc(var(--#{$prefix}-base-margin) * 14),
      "9": calc(var(--#{$prefix}-base-margin) * 16),
      "10": calc(var(--#{$prefix}-base-margin) * 18),
      "11": calc(var(--#{$prefix}-base-margin) * 20),
      "12": calc(var(--#{$prefix}-base-margin) * 22),
    ),
  ),
  "margin-top": (
    "prefix": "mt",
    "values": (
      "0": 0,
      "1": var(--#{$prefix}-base-margin),
      "2": calc(var(--#{$prefix}-base-margin) * 2),
      "3": calc(var(--#{$prefix}-base-margin) * 4),
      "4": calc(var(--#{$prefix}-base-margin) * 6),
      "5": calc(var(--#{$prefix}-base-margin) * 8),
      "6": calc(var(--#{$prefix}-base-margin) * 10),
      "7": calc(var(--#{$prefix}-base-margin) * 12),
      "8": calc(var(--#{$prefix}-base-margin) * 14),
      "9": calc(var(--#{$prefix}-base-margin) * 16),
      "10": calc(var(--#{$prefix}-base-margin) * 18),
      "11": calc(var(--#{$prefix}-base-margin) * 20),
      "12": calc(var(--#{$prefix}-base-margin) * 22),
    ),
  ),
  "margin-bottom": (
    "prefix": "mb",
    "values": (
      "0": 0,
      "1": var(--#{$prefix}-base-margin),
      "2": calc(var(--#{$prefix}-base-margin) * 2),
      "3": calc(var(--#{$prefix}-base-margin) * 4),
      "4": calc(var(--#{$prefix}-base-margin) * 6),
      "5": calc(var(--#{$prefix}-base-margin) * 8),
      "6": calc(var(--#{$prefix}-base-margin) * 10),
      "7": calc(var(--#{$prefix}-base-margin) * 12),
      "8": calc(var(--#{$prefix}-base-margin) * 14),
      "9": calc(var(--#{$prefix}-base-margin) * 16),
      "10": calc(var(--#{$prefix}-base-margin) * 18),
      "11": calc(var(--#{$prefix}-base-margin) * 20),
      "12": calc(var(--#{$prefix}-base-margin) * 22),
    ),
  ),
  "opacity": (
    "prefix": "o",
    "values": (
      "10": 0.1,
      "20": 0.2,
      "30": 0.3,
      "40": 0.4,
      "50": 0.5,
      "60": 0.6,
      "70": 0.7,
      "80": 0.8,
      "90": 0.9,
      "100": 1,
    ),
  ),
  "border-radius": (
    "prefix": "br",
    "values": (
      "default": var(--#{$prefix}-base-border-radius),
      "none": 0,
      "xs": calc(var(--#{$prefix}-base-border-radius) / 4),
      "sm": calc(var(--#{$prefix}-base-border-radius) / 2),
      "lg": calc(var(--#{$prefix}-base-border-radius) * 2),
      "full": 50%,
    ),
  ),
  "display": (
    "prefix": "display",
    "values": (
      "n": none,
      "b": block,
      "f": flex,
      "i": inline,
      "i-b": inline-block,
    ),
  ),
  "font-size": (
    "prefix": "font",
    "values": (
      "sm": var(--#{$prefix}-font-size-sm),
      "md": var(--#{$prefix}-base-font-size),
      "lg": var(--#{$prefix}-font-size-lg),
      "xl": var(--#{$prefix}-font-size-xl),
      "xxl": var(--#{$prefix}-font-size-xxl),
    ),
  ),
  "font-weight": (
    "prefix": "font-weight",
    "values": (
      "default": var(--#{$prefix}-base-font-weight),
      "200": var(--#{$prefix}-font-weight-200),
      "300": var(--#{$prefix}-font-weight-300),
      "400": var(--#{$prefix}-font-weight-400),
      "500": var(--#{$prefix}-font-weight-500),
      "600": var(--#{$prefix}-font-weight-600),
      "700": var(--#{$prefix}-font-weight-700),
      "800": var(--#{$prefix}-font-weight-800),
      "900": var(--#{$prefix}-font-weight-900),
      "bold": bold,
      "bolder": bolder,
      "lighter": lighter,
      "normal": normal,
      "inherit": inherit,
      "initial": initial,
      "unset": unset,
    ),
  ),
  "text-align": (
    "prefix": "text",
    "values": (
      "left": left,
      "right": right,
      "center": center,
      "end": end,
      "justify": justify,
      "start": start,
      "unset": unset,
      "inherit": inherit,
      "initial": initial,
    ),
  ),
);

// generate utility classes
@each $property, $map in $utilities {
  $prefix: map-get($map, "prefix");
  $values: map-get($map, "values");

  @each $k, $v in $values {
    @if ($k == "default") {
      .#{$prefix} {
        #{$property}: $v;
      }
    } @else {
      .#{$prefix}-#{$k} {
        #{$property}: $v;
      }
    }
  }
}
