// variables and functions
@import "variables";
@import "functions";

//colors
@import "colors";
:root {
  // spacing
  --#{$prefix}-base-padding: #{$base-padding};
  --#{$prefix}-base-margin: #{$base-margin};

  //content or topography
  --#{$prefix}-headings-line-height: #{$headings-line-height};
  --#{$prefix}-display-font-weight: #{$display-font-weight};
  --#{$prefix}-display-line-height: #{$display-line-height};
  --#{$prefix}-display-font-size: #{$display-font-size};

  //borders
  --#{$prefix}-base-border-thickness: #{$base-border-thickness};
  --#{$prefix}-base-border-radius: #{$base-border-radius};

  //box shadow
  --#{$prefix}-base-box-shadow: #{$base-box-shadow};

  // font weight
  --#{$prefix}-base-font-weight: #{$base-font-weight};
  --#{$prefix}-font-weight-200: #{$font-weight-200};
  --#{$prefix}-font-weight-300: #{$font-weight-300};
  --#{$prefix}-font-weight-400: #{$font-weight-400};
  --#{$prefix}-font-weight-500: #{$font-weight-500};
  --#{$prefix}-font-weight-600: #{$font-weight-600};
  --#{$prefix}-font-weight-700: #{$font-weight-700};
  --#{$prefix}-font-weight-800: #{$font-weight-800};
  --#{$prefix}-font-weight-900: #{$font-weight-900};

  //  font sizes
  --#{$prefix}-base-font-size: #{$base-font-size};
  --#{$prefix}-font-size-sm: #{$font-size-sm};
  --#{$prefix}-font-size-lg: #{$font-size-lg};
  --#{$prefix}-font-size-xl: #{$font-size-xl};
  --#{$prefix}-font-size-xxl: #{$font-size-xxl};
  --#{$prefix}-alert-bg: #{$alert-bg};
  --#{$prefix}-alert-padding-x: #{$alert-padding-x};
  --#{$prefix}-alert-padding-y: #{$alert-padding-y};
  --#{$prefix}-alert-margin-bottom: #{$alert-margin-bottom};
  --#{$prefix}-alert-color: #{$alert-color};
  --#{$prefix}-alert-border-color: #{$alert-border-color};
  --#{$prefix}-alert-border: #{$alert-border};
  --#{$prefix}-alert-border-radius: #{$alert-border-radius};

  --#{$prefix}-primary: #{$primary};
  --#{$prefix}-secondary: #{$secondary};
  --#{$prefix}-error: #{$error};
  --#{$prefix}-info: #{$info};
  --#{$prefix}-success: #{$success};
  --#{$prefix}-warning: #{$warning};

  --#{$prefix}-light: #{$light};
  --#{$prefix}-dark: #{$dark};
}

//utilities
@import "utilities";

@import "breakpoints";

//grid
@import "grid";

// base
@import "base";

//components
@import "components/navbar";
@import "components/alert";

//content
@import "topography";

.text-primary {
  color: var(--hui-primary);
}

.text-secondary {
  color: var(--hui-secondary);
}

.text-error {
  color: var(--hui-error);
}

.text-info {
  color: var(--hui-info);
}

.bg-primary {
  background-color: var(--hui-primary);
}

.bg-secondary {
  background-color: var(--hui-secondary);
}

.bg-error {
  background-color: var(--hui-error);
}

.bg-info {
  background-color: var(--hui-info);
}

// css var for easy customizing
